# 01_data_cleaning

In [1]:
import pandas as pd
import numpy as np

# Load Dataset
df = pd.read_csv('../Datasets/train.csv')

# Basic Inspection
df.head()
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45593 entries, 0 to 45592
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           45593 non-null  object
 1   Delivery_person_ID           45593 non-null  object
 2   Delivery_person_Age          45593 non-null  object
 3   Delivery_person_Ratings      45593 non-null  object
 4   Restaurant_latitude          45593 non-null  float64
 5   Restaurant_longitude         45593 non-null  float64
 6   Delivery_location_latitude   45593 non-null  float64
 7   Delivery_location_longitude  45593 non-null  float64
 8   Order_Date                   45593 non-null  object
 9   Time_Orderd                  45593 non-null  object
 10  Time_Order_picked            45593 non-null  object
 11  Weatherconditions            45593 non-null  object
 12  Road_traffic_density         45593 non-null  object
 13  Vehicle_condition            45593 non-null  int64
 14  Type_of_order                45593 non-null  object
 15  Type_of_vehicle              45593 non-null  object
 16  multiple_deliveries          45593 non-null  object
 17  Festival                     45593 non-null  object
 18  City                         45593 non-null  object
 19  Time_taken(min)              45593 non-null  object
dtypes: float64(4), int64(1), object(15)
memory usage: 7.0+ MB

ID                             0
Delivery_person_ID             0
Delivery_person_Age            0
Delivery_person_Ratings        0
Restaurant_latitude            0
Restaurant_longitude           0
Delivery_location_latitude     0
Delivery_location_longitude    0
Order_Date                     0
Time_Orderd                    0
Time_Order_picked              0
Weatherconditions              0
Road_traffic_density           0
Vehicle_condition              0
Type_of_order                  0
Type_of_vehicle                0
multiple_deliveries            0
Festival                       0
City                           0
Time_taken(min)                0
dtype: int64

In [3]:
# TARGET CLEANING

df['Time_taken(min)'] = [time[1] for time in df['Time_taken(min)'].str.split(' ')]
df['Time_taken(min)'] = df['Time_taken(min)'].astype(int)

In [5]:
# WEATHER CLEANING
# =========================

df['Weatherconditions'] = df['Weatherconditions'].apply(lambda x: x.split(' ')[1])

In [7]:
# DELIVERY PERSON AGE
# =========================

df['Delivery_person_Age'] = df['Delivery_person_Age'].replace('NaN ', np.nan)
df['Delivery_person_Age'] = pd.to_numeric(df['Delivery_person_Age'])
df['Delivery_person_Age'] = df['Delivery_person_Age'].fillna(df['Delivery_person_Age'].median())
df['Delivery_person_Age'] = df['Delivery_person_Age'].astype(int)

In [9]:
# DELIVERY PERSON RATING
# =========================

df['Delivery_person_Ratings'] = df['Delivery_person_Ratings'].replace('NaN ', np.nan)
df['Delivery_person_Ratings'] = pd.to_numeric(df['Delivery_person_Ratings'])
df['Delivery_person_Ratings'] = df['Delivery_person_Ratings'].fillna(df['Delivery_person_Ratings'].median())

In [11]:
# TIME COLUMNS CLEANING
# =========================

df['Order_Date'] = pd.to_datetime(df['Order_Date'])

df['Time_Orderd'] = df['Time_Orderd'].replace('NaN ', pd.NaT)
df['Time_Orderd'] = pd.to_datetime(df['Time_Orderd'], errors='coerce')
df = df.dropna(subset=['Time_Orderd'])

df['Time_Order_picked'] = pd.to_datetime(df['Time_Order_picked'], errors='coerce')

C:\Users\HP\AppData\Local\Temp\ipykernel_19152\3681284687.py:4: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Order_Date'] = pd.to_datetime(df['Order_Date'])
C:\Users\HP\AppData\Local\Temp\ipykernel_19152\3681284687.py:7: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Time_Orderd'] = pd.to_datetime(df['Time_Orderd'], errors='coerce')
C:\Users\HP\AppData\Local\Temp\ipykernel_19152\3681284687.py:10: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Time_Order_picked'] = pd.to_datetime(df['Time_Order_picked'], errors='coerce')

In [13]:
# MULTIPLE DELIVERIES
# =========================

df['multiple_deliveries'] = df['multiple_deliveries'].replace('NaN ', np.nan)
df['multiple_deliveries'] = pd.to_numeric(df['multiple_deliveries'])
df['multiple_deliveries'] = df['multiple_deliveries'].fillna(df['multiple_deliveries'].mode()[0])
df['multiple_deliveries'] = df['multiple_deliveries'].astype(int)

In [15]:
# FESTIVAL
# =========================

df['Festival'] = df['Festival'].replace('NaN ', np.nan)
df['Festival'] = df['Festival'].fillna(df['Festival'].mode()[0])

In [17]:
# CITY
# =======================

df['City'] = df['City'].replace('NaN ', np.nan)
df['City'] = df['City'].fillna('Unknown')

In [19]:
# âœ… Save cleaned dataset for next step
df.to_csv("cleaned_data.csv", index=False)